body {
  padding: 40px;
  background-color: rgb(240, 240, 240);
}

.container {
  max-width: 950px;
  margin-top: 30px;
}

ul {
  list-style: none; 
}


.featuredBlock {
  display: block;
  margin-top: 40px;
}

.card {
  background: linear-gradient(90deg, rgba(0,9,36,1) 0%, rgba(0,35,242,1) 0%, rgb(1, 30, 192) 100%);
  padding: 15px;
  border-radius: .6em;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial;
  transition: all .6s cubic-bezier(0,.5,.51,1);
  margin-top: 37px;
}


.card h1 {
  font-size: 30px;
  font-weight: 500;
}

.card p {
  font-size: 13px;
}

.social {
  height: 30px;
}

.social i {
  font-size: 1.4em;
  padding-right: 15px;
}

.profilePhoto {
  width: 95px;
  height: 93px;
  border-radius: 10%;
  margin-bottom: 15px;
  margin-top: -65px;
  box-shadow: 0 3px 18px 0 hsla(237, 28%, 13%, 0.178);
}

.projects {
  margin-top: 40px;
}

.project {
  width: 100%;
  background-color: #fff;
  border-radius: .6em;
  border: 0;
  padding: 18px 9px 9px 18px;
  margin-bottom: 18px;
  transition: all .6s cubic-bezier(0,.5,.51,1);
  overflow: auto;
  cursor: pointer;
}


.ptext {
  float: left;
  width: 50%;
}

.ptext p {
  margin-top: 7px;
}

.bullets {
  float: right;
  width: 50%;
  height: 100%;
  padding-top: 3px;
  list-style: none;
}

.bullets li {
  font-size: 13px;
}



.project h1 {
  font-size: 17px;
  margin-bottom: 3px;
}

.project p {
  line-height: 1.3em;
  font-size: 12px;
}


.project li {
  padding-top: 3px;
}


.project li:hover {
  color: #0023F2;
}

.grow { 
  transition: all .24s cubic-bezier(0,.5,.51,1); }
.grow:hover { transform: scale(1.01); }

.grow2 { 
  transition: all .24s cubic-bezier(0,.5,.51,1); }
.grow2:hover { transform: scale(1.005); }

.shadow {
  box-shadow: 0 12px 30px rgba(0, 31, 204, 0.3);
  -moz-box-shadow:    0 12px 30px rgba(0, 31, 204, 0.3);
  -webkit-box-shadow: 0 12px 30px rgba(0, 28, 185, 0.349);
}

.shadow:hover {
  box-shadow: 0 13px 30px rgba(0, 21, 141, 0.4);
  -moz-box-shadow:    0 13px 30px rgba(0, 21, 141, 0.4);
  -webkit-box-shadow: 0 13px 30px rgba(0, 21, 141, 0.4);
}

.shadow2 {
  box-shadow: 0 3px 12px 0 hsla(0, 0%, 40%, 0.06);
}

.shadow2:hover {
  box-shadow: 0 11px 15px 0 hsla(0, 0%, 80%, 0.2);
}

.shadow3 {
  box-shadow: 0 3px 12px 0 hsla(0, 0%, 40%, 0.25);
}

.shadow3:hover {
  box-shadow: 0 11px 15px 0 hsla(0, 0%, 50%, 0.2);
}



.stitle {
  font-size: 25px;
  font-weight: 700;
}

a, a:hover, a:visited {
  color: inherit; 
  text-decoration: inherit; 
}

.day {
  width: 100%;
  background-color: #fff;
  border-radius: .8em;
  border: 0;
  margin-bottom: 18px;
  padding-bottom: 14px;
  padding-top: 1px;
  transition: all .6s cubic-bezier(0,.5,.35,1);
}

.day ul {
  padding-left: 30px;
}

.day li {
  padding-bottom: 4px;
  margin-right: 15px;
  font-size: 15px;
}

.spacer {
  display: block;
  height: 40px;
}

hr {
  margin-bottom: 20px;
}

.hr2 {
  margin: 0;
}

.tasks hr {
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 0px;
}

.day h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 17px;
  margin-left: 20px;
}

.day hr {
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0px;
}

.day li {
  margin-left: 19px;
  margin-bottom: 4px;
}

.check {
  margin-left: -25px;
  margin-right: 0;
}

.desc span {
  position: relative;
  border-bottom: solid 1px #b3b3b3;
  margin-left: 45%;
  font-size: 22px;
}

.desc span:hover {
  border-bottom: solid 1px #0030E9;
}

li span {
  font-size: 14px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/* admin stuff */

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
    font-size: 12px;
}

.submitButton {
  margin-top: 40px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.Modal {
  position: absolute;
  top: 0px;
  left: 15%;
  right: 15%;
  bottom: 0px;
  background-color: #fff;
  padding: 20px;
  padding-top: 35px;
  -webkit-box-shadow: 0px 16px 55px 5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 16px 55px 5px rgba(0,0,0,0.22);
  box-shadow: 0px 16px 55px 5px rgba(0,0,0,0.22);
  transition: all .6s cubic-bezier(0,.5,.51,1);
  overflow: visible;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.35);
  
}

.modalHeader {
  width: 100%;
  display: inline-block;
}

.modalTitle {
  float: left;
  max-width: 62%
}

.modalTitle h3 {
  font-size: 25px;
}

.modalTitle p {
  margin-bottom: 0px;
}

.modalBody {
  padding: 5px 20px;
  overflow: scroll;
  height: 100%;
}

.modalSidebar {
  float: right;
  width: 35%;
  overflow: visible;
}

.modalSidebar li {
  padding: 15px 10px;
  border-radius: 0.5em;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .6s cubic-bezier(0,.5,.51,1);
}

.modalSidebar ul{
  padding: 0px; 
}

.modalSidebar p {
  margin-top: 25px;
}

.modalBullets {
  padding-bottom: 5px;
}

.closeModalButton {
  float: right;
  background: none;
  color: inherit;
  border: none;
  padding: 5px 5px 0px;
  font: inherit;
  cursor: pointer;
  max-width: 13%;
}

.closeModalButton i {
  font-size: 1.5em;
  color: rgb(204, 204, 204);
}

.badge-cta {
  background: linear-gradient(90deg, rgba(0,9,36,1) 0%, rgba(0,35,242,1) 0%, rgb(1, 30, 192) 100%);
  color: #fff;
}

*:focus {
outline: none !important
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
}

.preview-image2 img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  margin-bottom: 21px;
  border-radius: 0.5em;
}

.preview-image img{
  width: 60%;  
  margin-bottom: 21px;
  border-radius: 0.5em;
}


@media screen and (max-width: 990px) {
  .tasks {
    margin-top: 25px;
  }
}
@media screen and (max-width: 900px) {
  .Modal {
  top: 30px;
  left: 5%;
  right: 5%;
  bottom: 20px;
  border-radius: 0.5em;
  }
}

@media screen and (max-width: 768px) {
  
  .modalBullets {
    margin: 10px 0px 15px 0px;
    width: 100%;
    float: none;
  }


  .modalSidebar {
    width: 100%;
    padding: 0px;
  }

  .preview-image img {
    width: 100%;
  }

  .modalText {
    width: 100%;
  }
  
  .modalSidebar ul {
    padding: 0px; 
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .ptext {
    width: 100%;
    float: none;
    margin-bottom: -10px;
  }

  .bullets {
    width: 100%;
    float: none;
  }

  .bullets ul {
    padding-left: 0px;
  }

  

  .tasks {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 25px 5px;
  }
  .modalBody {
    padding: 5px;
  }
  
  .modalSidebar ul{
    padding-left: 15px; 
    padding-right: 15px; 
    outline: 10px solid transparent;
  }

}

.addTask-appear {
  opacity: 0.01;
  padding-bottom: 1px;
  margin-bottom: 15px;
}

.addTask-appear.addTask-appear-active {
  opacity: 1;
  padding-bottom: 18px;
  margin-bottom: 14px;
  transition: 700ms;
}

.addTask-enter {
  opacity: 0.01;
  padding-bottom: 1px;
  margin-bottom: 15px;
}

.addTask-enter.addTask-enter-active {
  opacity: 1;
  padding-bottom: 18px;
  margin-bottom: 14px;
  transition: 700ms;
}

.caseStudy h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

